/************************首页页面样式*********************************/


/* 整体样式 */

body {
	margin: 0px;

	background-position:top center;
	background-color:#FFFFFF;
	background-repeat:no-repeat;
}
.table_bg{
   	background-color:#FFFFFF;
	border-left:1px solid #cecece;
	border-right:1px solid #cecece;
}
td {
	font-size:12px;
	line-height: 25px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}


a:hover {
	font-size: 12px;
	color: #d62800;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
a:active {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}


.margin_tab{
    margin-top:10px;
}



input{
    border:1px solid #7a9dcc;
	height:22px;
}

.text_blue{
    font-size:12px;
	color:#6385b7;
	text-align:right;
}

.btn_login{
    background-image:url(../images/login_btn.jpg);
	height:23px;
	width:69px;
	background-repeat:no-repeat;
	text-align:center;
	border:0px;
	
}


/*顶部样式*/

.top{
   background-image:url(../images/logo_bg.jpg);
   height:55px;
   background-repeat:repeat-x;
   color:#000000;
}

.top a:link {
	font-size: 12px;
	color: #074cb2;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	

}
.top a:visited {
	font-size: 12px;
	color: #074cb2;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
	
}


.top a:hover {
	font-size: 12px;
	color: #ff0000;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
	
	
}
.top a:active {
	font-size: 12px;
	color: #074cb2;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	

}


.menu{
    background-image:url(../images/menu_bg.jpg);
	height:30px;
	border:1px solid #adb9c2;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	border-collapse:collapse;
	color:#000000;
	
}

.menu a:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;

}
.menu a:visited {
	font-size: 14px;
	color: #1686ea;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}


.menu a:hover {
	font-size: 14px;
	color: #ff0000;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}
.menu a:active {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;

}
/*左侧样式*/

.left_bg{
    background-image:url(../images/left_bg.jpg);
	width:250px;
	background-repeat:repeat-y;
	
}


.left_weather{
    background-image:url(../images/left_weather.jpg);
	width:250px;
	height:213px;
	
}


.font_bold{
    font-weight:bold;
	border-bottom:1px dotted #b9b9b9;
	text-align:center;
}

.dotted_bottom{
    border-bottom:1px dotted #b9b9b9;
	text-align:center;
   
}

.dotted_bottom_left{
    border-bottom:1px dotted #b9b9b9;
	text-align:left;
	padding-left:10px;
   
}

.left_kaohe{
   background-image:url(../images/left_kaohe_bg.jpg);
   width:231px;
   background-position:bottom left;
   background-color:#f7f4f4;
   background-repeat:no-repeat;
   
}


/*中间样式*/

.mid_title_bg01{
    background-image:url(../images/mid_title_01_bg.jpg);
	height:49px;
	background-repeat:repeat-x;
	
}

.mid_title_01_conent{
    background-image:url(../images/mid_title_01_conent.jpg);
	width:454PX;
	background-repeat:no-repeat;
	background-position:toppx;
	
}


.mid_title_01_bg{
    background-image:url(../images/mid_title_01_bg.jpg);
	width:454px;
	background-repeat:repeat-y;
	
}



.mid_link_01{
    border-bottom:1px dotted #a6a6a6;
	color:#00337e;
	font-size:14px;
}



.mid_link_01 a:link {
	color:#00337e;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	

}
.mid_link_01 a:visited {
	color:#00337e;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
}


.mid_link_01 a:hover {
	color:#ff0000;
	font-size:14px;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
}
.mid_link_01 a:active {
	color:#00337e;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}



.mid_bg_02{
    background-image:url(../images/mid_bg_02.jpg);
	background-position:bottom;
}



.mid_table_title_02{
     background-image:url(../images/table_title.jpg);
	 height:26px;
	 font-weight:bold;
	 text-align:center;
}


.mid_table_border_02{
    border:1px solid  #d4d0c8;
	border-collapse:collapse;
	text-align:center;
	
}




/*右侧侧样式 */

.right_tab{
       border:1px solid #8cb4e7;
}


.right_title_01{

	background-image:url(../images/right_title_pic_01.jpg);
	background-repeat:no-repeat;
	font-weight:bold;
	color:#ffffff;
	padding-left:43px;
	height:32px;
}

.right_title_bg_02{
    background-image:url(../images/right_title_bg_02.jpg);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#07519a;
	height:24px;
	text-align:center

}


.air_tab_title{
    background-image:url(../images/air_tab_title.jpg);
	height:24px;
	background-repeat:repeat-x;
	text-align:center;
	font-weight:bold;
}


.tab_border{
   border:1px solid #cccccc;
   border-collapse:collapse;
   padding-left:5px;
}




.mid_title_bg03{
    background-image:url(../images/mid_title_03_bg.jpg);
	height:39px;
	background-repeat:repeat-x;
	
}


.right_bg{
    background-image:url(../images/right_bg.jpg);
	height:144px;
	background-position:center;
	background-repeat:no-repeat;
	
}


/*版权样式*/

.copyright01{
     background-image:url(../images/bottom_bg01.jpg);
	 height:45px;
	 background-repeat:repeat-x;
	 
}

.copyright_2_01{
     background-image:url(../images/bottom2_bg01.jpg);
	 height:26px;
	 background-repeat:repeat-x;
	 
}



.copyright02{
     background-image:url(../images/bottom_bg02.jpg);
	 height:28px;
	 background-repeat:repeat-x;
	 text-align:center;
	 
}
/************************二级页面样式*********************************/
/*顶部样式*/

.top2_left{
     background-image:url(../images/top2_left.jpg);
	 background-position:top;
	 width:250px;
	 background-repeat:no-repeat;
	 padding-top:16px;
}


.top2_right{
     background-image:url(../images/top2_right.jpg);
	 background-position:top;
	 width:737px;
	 background-repeat:no-repeat;
	  padding-top:16px;
}


.desktop{
    background-image:url(../images/desktop_bg.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
}

/*菜单面板样式*/

.marg_tab{
    margin-top:6px;
}


/*菜单默认样式*/
.toobar_default{
    background-image:url(../images/toobar_default.jpg);
	height:30px;
	width:229px;
	background-repeat:no-repeat;
	color:#000000;
	font-size:14px;
}


.toobar_default a:link {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	

}
.toobar_default a:visited {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
}


.toobar_default a:hover {
	color:#ff0000;
	font-size:14px;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
}
.toobar_default a:active {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}


/*toobar二级背景 */
.toobar_lower{
   background-image:url(../blueimages/toobar_bg.jpg);
   background-repeat:repeat-x;
   font-weight:normal;
   color:#000000;
}

.toobar_lower a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.toobar_lower a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}


.toobar_lower a:hover {
	font-size: 12px;
	color: #18466f;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}



/*菜单点击样式*/
.toobar_onclick{
    background-image:url(../images/toobar_onclick.jpg);
	height:30px;
	width:229px;
	background-repeat:no-repeat;
	color:#022d84;
	font-size:14px;
	font-weight:bold;
}


.toobar_onclick a:link {
	color:#022d84;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	

}
.toobar_onclick a:visited {
	color:#022d84;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}


.toobar_onclick a:hover {
	color:#ff0000;
	font-size:14px;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.toobar_onclick a:active {
	color:#022d84;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;

}


/*三级菜单字体样式*/

.font14_dotted{
    font-size:14px;
	border-bottom:1px  dotted  #b6b6b6;
	line-height:28px;
	
}



.font14_dotted a:link {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	


}
.font14_dotted a:visited {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}


.font14_dotted a:hover {
	color:#ff0000;
	font-size:14px;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;

}
.font14_dotted a:active {
	color:#000000;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}


.blue_line{
    background-image:url(../images/line_blue.jpg);
	height:11px;
	background-position:center;
	background-repeat:repeat-x;
}



.blue_font_14{
    color:#1b6bb4;
	font-size:14px;
}



.blue_font_14 a:link {
	color:#1b6bb4;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	


}
.blue_font_14 a:visited {
	color:#1b6bb4;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}


.blue_font_14 a:hover {
	color:#ff0000;
	font-size:14px;
	text-decoration:underline;
	font-family: Arial, Helvetica, sans-serif;

}
.blue_font_14 a:active {
	color:#1b6bb4;
	font-size:14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}



/* BodySearch,搜索栏样式 */
.BodySearch
{   margin-top:10px;
    margin-bottom:10px;
	font-size: 12px;
	font-family: "宋体";
	height: 30px;
	border: 1px solid #b5cbd9;
	color:#1b6bb4;
	font-weight:bold;
	background-image:url(../images/search_bg.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
}



input
{
border:1px solid #a4b5d1;
height:25px;
color:#000000;
font-size:12px;
}


/*表格样式*/

.Main_Tab_Style{
    border: solid  #d3dce3;
	border-width:1px 0  0 1px;
	border-collapse:collapse;
	line-height:150%;
	margin-top:8px;
	margin-bottom:8px;

}

.Main_Tab_Style  td {
    border: solid  #d3dce3;
	border-width:0 1px 1px 0;
	

}


.Main_Tab_Style_Bgcolor
{
     background-color:#eeeeee;
	 padding-left:10px;
	 color:#000000;
	 text-align:right
}



/*gridview样式*/

.GridViewStyle 
{    
    border:solid #9db0bc;
	border-collapse:collapse;
	border-width:1px 0 0 1px; 

} 


.GridViewStyle  td
{    
    border:solid #9db0bc;
	border-collapse:collapse;
	border-width:0 1px 1px 0;
	padding-left:5px; 
	
	

} 

.GridViewHeadButtonStyle 
{ 
    font-weight: normal; 
    color:Black; 
    text-align:left;
    background-color: #e5ecf1; 
	height:28px;
    background-repeat:repeat-x;
} 

.GridViewHeaderStyle 
{ 
    font-weight: normal; 
    color:Black; 
    text-align:center;
    background-image:url(../images/GridViewHeaderBg.gif);
	height:28px;
    background-repeat:repeat-x;
} 



.GridViewAlternatingRowStyle 
{ 
    background-color: #f1f2f2; 
    color: #000000; 
} 


.GridViewSelectedRowStyle 
{ 
    background-color: #e5ecf1; 
    font-weight: bold; 
    color: #000000; 
} 

.GridViewPagerStyle 
{   
    color: #000000;
	background-image:url(../images/gridview_pages_bg.gif);
	height:26px;
	background-repeat:repeat-x;
	text-align:center;

} 



 /* 按钮样式*/
/* 默认按钮样式*/
.Button_Common_a{ background-image:url(../images/button_Commonl_a.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }
			  
			  
.Button_Common_b{ background-image:url(../images/button_Commonl_b.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }
			   
/*5个字按钮样式*/
.Button_Text_5_a{ background-image:url(../images/button_text_5_a.gif);
              width:72px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }
			  
.Button_Text_5_b{ background-image:url(../images/button_text_5_b.gif);
              width:72px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }
			  
/*6个字按钮样式*/
.Button_Text_6_a{ background-image:url(../images/button_text_6_a.gif);
              width:84px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }
.Button_Text_6_b{ background-image:url(../images/button_text_6_b.gif);
              width:84px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              text-align:center;
              background-color:Transparent;
              }			  
			  
/* 添加按钮样式*/
.Button_Add_a{ background-image:url(../images/button_add_a.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px;
              padding-left:8px; 
              background-color:Transparent;
              }
.Button_Add_b{ background-image:url(../images/button_add_b.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px;
              padding-left:8px; 
              background-color:Transparent;
              }			  
/* 删除按钮样式*/
.Button_Del_a{ background-image:url(../images/button_del_a.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              padding-left:8px; 
              background-color:Transparent;
              }
.Button_Del_b{ background-image:url(../images/button_del_b.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              padding-left:8px; 
              background-color:Transparent;
              }
/* 关闭按钮样式*/
.Button_Closed_a{ background-image:url(../images/button_closed_a.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              padding-left:8px; 
              background-color:Transparent;
              }
			  
.Button_Closed_b{ background-image:url(../images/button_closed_b.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px; 
              padding-left:8px; 
              background-color:Transparent;
              }
			  
/* 搜索按钮样式*/
.Button_Search_a{ background-image:url(../images/button_search_a.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px;
			  padding-left:8px; 
              background-color:Transparent;
              }
			  
			  
.Button_Search_b{ background-image:url(../images/button_search_b.gif);
              width:61px; height:21px; background-repeat:no-repeat;
              color:#000000;
              border:0px;
			  padding-left:8px; 
              background-color:Transparent;
              }



/*查看按钮样式*/
.Button_View_a
{
    background-image:url(../images/button_view_a.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left: 10px;
    background-color: Transparent;
}



.Button_View_b
{
    background-image:url(../images/button_view_b.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left: 10px;
    background-color: Transparent;
}
/*保存按钮样式*/
.Button_Save_a
{
    background-image:url(../images/button_save_a.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left:8px;
    background-color: Transparent;
}
.Button_Save_b
{
    background-image:url(../images/button_save_b.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left:8px;
    background-color: Transparent;
}
/*修改按钮样式*/
.Button_Edit_a
{
    background-image:url(../images/button_edit_a.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left:8px;
    background-color: Transparent;
}
.Button_Edit_b
{
    background-image:url(../images/button_edit_b.gif);
    width: 61px;
    height: 21px;
    background-repeat: no-repeat;
    color: #45577e;
    border: 0px;
    padding-left:8px;
    background-color: Transparent;
}
.TdTitle
{
	background-color:#9CF
}
.TextAreaStyle
{
	width:600px;
	height:60px;
}
/*tab样式*/
.TabDefault {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../images/tab.gif);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	height: 25px;
	width: 78px;
	border-bottom:3px solid #c0e0f7 ;
	cursor:pointer;
}
.TabOnclick {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../images/tab_over.gif);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	height: 25px;
	width: 78px;
	border-bottom:3px solid #c0e0f7 ;
	cursor:pointer;
}

/*地图左侧样式*/
.GisTitleTd
{
	font-family: "宋体";
	font-size: 12px;
	line-height:26px;
	font-weight: bold;
	color: #0509b9;
	background-image: url(../images/gistitlebg.gif);
	background-repeat: repeat-x;
	text-indent: 15px;
}

.ddl
{
  padding-top:10px;
}