
/* Gridview 中 事件处理*/
.btn_handle
{
	background-image: url(../Images/Buttons/event_handle.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/* Gridview 中 编辑*/
.btn_update
{
	background-image: url(../Images/Buttons/btn_update.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/* Gridview 中 查看*/
.btn_select
{
	background-image: url(../Images/Buttons/btn_select.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/* Gridview 中 删除*/
.btn_delete
{
	background-image: url(../Images/Buttons/btn_delete.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/* Gridview 中 打开*/
.btn_open
{
	background-image: url(../Images/Buttons/btn_open.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/* Gridview 中 定位*/
.btn_map
{
	background-image: url(../Images/Buttons/btn_map.png);
	background-repeat: no-repeat;
	background-position: center;
}