
/* menu::base */
div#menu_m
{
    height: 86px;
    padding-left: 0px;
}

div#menu_m ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

div#menu_m li
{
    position: relative;
    margin: 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
    z-index: 9;
    width: 89px;
    height: 84;
}
div#menu_m ul ul li
{
    z-index: 9;
}
div#menu_m a
{
    position: relative;
    z-index: 10;
    height: 84px;
    display: block;
    float: left;
    line-height: 0px;
    text-decoration: none;
    margin-top: 1px;
    white-space: nowrap;
    width: 89px;
    padding-right: 0px;
    text-align: center;
}
div#menu_m span
{
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 5px;
}

/* lava lamp */
div#menu_m li.back
{
    background: url(../App_Themes/Blue/Images/datacenter/selected.gif) no-repeat left 0;
    width: 89px;
    height: 84px;
    z-index: 8;
    position: absolute;
    padding: 0;
    margin: 2px 0 0 0;
}

/* ºó¼Ó*/
*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
}
div#menu_m
{
    margin: 0px auto;
    width: 100%;
}
div#copyright
{
    margin: 0 auto;
    width: 100%;
    font: 0px 'Trebuchet MS';
    color: #fff;
    text-indent: 20px;
    padding: 0 0 0 0;
}
div#copyright a
{
    color: #00bfff;
}
div#copyright a:hover
{
    color: #fff;
}
#menu_m
{
    position: absolute;
    right: 15px;
    top: 0px;
    z-index: 99;
}
.banner_bg
{
    position: absolute;
    width: 100%;
    height: 86px;
    left: 0px;
    top: 0px;
    background: url(../App_Themes/Blue/Images/datacenter/banner_line.jpg);
}
.banner_img
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 86px;
    width: 580px;
    background: url(../App_Themes/Blue/Images/datacenter/banner.jpg);
    z-index: 98;
}
.tool_bar
{
    position: absolute;
    top: 86px;
    width: 100%;
    height: 20px;
}
